WAKE_AUTH=Basic 
WAKE_BASE_URL=https://api.fbits.net

SANKHYA_X_TOKEN=
SANKHYA_CLIENT_ID=
SANKHYA_CLIENT_SECRET=
SANKHYA_BASE_URL=https://api.sankhya.com.br

CODIGO_VENDEDOR=28
TIPO_PAGAMENTO_PADRAO=11
ZERAR_IPI_ITENS=true
CODIGO_LOCAL_ESTOQUE=10100
NOTA_MODELO=92380
UNIDADE_PADRAO=UN

PERMITIR_ENVIO=false
LOG_LEVEL=INFO
TIMEOUT_PADRAO=30